 body , ul, li, p {
    margin: 0px; 
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: white;
    
}
header {
    background-color: rgb(117, 117, 117);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    }
.menu{
    display: flex;
    flex-flow: row wrap;
}
.menu > li > a {
    display: block;
    padding: 10px; 
    margin: 8px;
   background-color: blue;
}
h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    max-width: 100%;
    display: block;
}
.flex{
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 800px;
}
.flex > div {
    flex: 1 1 200px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}